In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
from scipy.interpolate import interp1d

In [9]:
datos = pd.read_excel('intento_1.xlsx')
datos

            t         x
0    0.000000  0.000718
1    0.033333  0.000768
2    0.066667  0.001638
3    0.100000  0.002630
4    0.133333  0.003530
..        ...       ...
113  3.766667  0.610295
114  3.800000  0.621902
115  3.833333  0.631185
116  3.866667  0.644594
117  3.900000  0.655941

[118 rows x 2 columns]