In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
from scipy import stats

In [8]:
datos_pendulo = pd.read_csv('pendulo_1.csv', delimiter=';')

In [9]:
m1_5_grados = datos_pendulo['t_1843_5_grados']
m1_10_grados = datos_pendulo['t_1842_10_grados']
m1_15_grados = datos_pendulo['t_1841_15_grados']
m2_5_grados = datos_pendulo['t_1840_5_grados']
m2_10_grados = datos_pendulo['t_1839_10_grados']
m2_15_grados = datos_pendulo['t_1838_15_grados']
m3_5_grados = datos_pendulo['t_1837_5_grados']
m3_10_grados = datos_pendulo['t_1836_10_grados']
m3_15_grados = datos_pendulo['t_1835_15_grados']

In [10]:
tabla = pd.DataFrame({'m1_5_grados': m1_5_grados, 'm1_10_grados': m1_10_grados, 'm1_15_grados': m1_15_grados, 'm2_5_grados': m2_5_grados, 'm2_10_grados': m2_10_grados, 'm2_15_grados': m2_15_grados, 'm3_5_grados': m3_5_grados, 'm3_10_grados': m3_10_grados, 'm3_15_grados': m3_15_grados})
tabla

,m1_5_grados,m1_10_grados,m1_15_grados,m2_5_grados,m2_10_grados,m2_15_grados,m3_5_grados,m3_10_grados,m3_15_grados
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.466667,1.466667,1.500000,1.533333,1.466667,1.466667,1.433333,1.466667,1.466667
2,2.933333,2.933333,2.966667,2.933333,2.966667,2.966667,2.900000,2.933333,2.933333
3,4.400000,4.433333,4.466667,4.466667,4.466667,4.433333,4.400000,4.400000,4.400000
4,5.900000,5.900000,5.933333,5.966667,5.933333,5.933333,5.866667,5.900000,5.866667
5,7.400000,7.400000,7.433333,7.466667,7.433333,7.433333,7.300000,7.366667,7.333333
6,8.900000,8.866667,8.933333,8.900000,8.933333,8.933333,8.766667,8.833333,8.833333

In [ ]:
R =