In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
from scipy import stats

In [17]:
l = 55

m = [66,54,43] #31

a = [5,10,15]

m_1_a_5 = np.array([8.59,8.60,8.62])
m1_a_10 = np.array([8.79,8.78,8.75])
m1_a_15 = np.array([8.85,8.93,8.89])

m2_a_5 = np.array([8.67,8.66,8.64])
m2_a_10 = np.array([8.82,8.73,8.78])
m2_a_15 = np.array([8.72,8.74,8.72])

m3_a_5 = np.array([8.70,8.73,8.72])
m3_a_10 = np.array([8.74,8.67,8.79])
m3_a_15 = np.array([8.85,8.85,8.82])

m1_a_5_d = [(m_1_a_5[i]/6) for i in range(3)]
m1_a_10_d = [(m1_a_10[i]/6) for i in range(3)]
m1_a_15_d = [(m1_a_15[i]/6) for i in range(3)]

m2_a_5_d = [(m2_a_5[i]/6) for i in range(3)]
m2_a_10_d = [(m2_a_10[i]/6) for i in range(3)]
m2_a_15_d = [(m2_a_15[i]/6) for i in range(3)]

m3_a_5_d = [(m3_a_5[i]/6) for i in range(3)]
m3_a_10_d = [(m3_a_10[i]/6) for i in range(3)]
m3_a_15_d = [(m3_a_15[i]/6) for i in range(3)]

tabla_valores = pd.DataFrame({
    'm1 5 grados': m1_a_5_d,
    'm2 5 grados': m2_a_5_d,
    'm3 5 grados': m3_a_5_d,
    'm1 10 grados': m1_a_10_d,
    'm2 10 grados': m2_a_10_d,
    'm3 10 grados': m3_a_10_d,
    'm1 15 grados': m1_a_15_d,
    'm2 15 grados': m2_a_15_d,
    'm3 15 grados': m3_a_15_d
})
tabla_valores

,m1 5 grados,m2 5 grados,m3 5 grados,m1 10 grados,m2 10 grados,m3 10 grados,m1 15 grados,m2 15 grados,m3 15 grados
0,1.431667,1.445000,1.450000,1.465000,1.470000,1.456667,1.475000,1.453333,1.475
1,1.433333,1.443333,1.455000,1.463333,1.455000,1.445000,1.488333,1.456667,1.475
2,1.436667,1.440000,1.453333,1.458333,1.463333,1.465000,1.481667,1.453333,1.470

In [18]:
def gravedad(l,t):
    return l*(((2*np.pi)**2)/(t**2))

grav_m1_5 = [gravedad(l,m1_a_5_d[i]) for i in range(3)]
grav_m2_5 = [gravedad(l,m2_a_5_d[i]) for i in range(3)]
grav_m3_5 = [gravedad(l,m3_a_5_d[i]) for i in range(3)]

grav_m1_10 = [gravedad(l,m1_a_10_d[i]) for i in range(3)]
grav_m2_10 = [gravedad(l,m2_a_10_d[i]) for i in range(3)]
grav_m3_10 = [gravedad(l,m3_a_10_d[i]) for i in range(3)]

grav_m1_15 = [gravedad(l,m1_a_15_d[i]) for i in range(3)]
grav_m2_15 = [gravedad(l,m2_a_15_d[i]) for i in range(3)]
grav_m3_15 = [gravedad(l,m3_a_15_d[i]) for i in range(3)]

tabla_gravedad = pd.DataFrame({
    'm1 5 grados': grav_m1_5,
    'm2 5 grados': grav_m2_5,
    'm3 5 grados': grav_m3_5,
    'm1 10 grados': grav_m1_10,
    'm2 10 grados': grav_m2_10,
    'm3 10 grados': grav_m3_10,
    'm1 15 grados': grav_m1_15,
    'm2 15 grados': grav_m2_15,
    'm3 15 grados': grav_m3_15
})
tabla_gravedad

,m1 5 grados,m2 5 grados,m3 5 grados,m1 10 grados,m2 10 grados,m3 10 grados,m1 15 grados,m2 15 grados,m3 15 grados
0,1059.347874,1039.888396,1032.729117,1011.689347,1004.818811,1023.297850,998.018026,1027.99726,998.018026
1,1056.885707,1042.291373,1025.643518,1013.995191,1025.643518,1039.888396,980.216501,1023.29785,998.018026
2,1051.987054,1047.122381,1027.997260,1020.960220,1013.995191,1011.689347,989.057191,1027.99726,1004.818811

In [19]:
def incertidumbre (l,t):
    def incer_l(l):
        return (2*np.pi)/l
    def incer_t(l,t):
        return (l*2*np.pi)/(t**2)
    return np.sqrt(((incer_l(l)*0.1)**2)+((incer_t(l,t)*0.016)**2))

incer_gravedad_m1_5 = [incertidumbre(l,m1_a_5_d[i]) for i in range(3)]
incer_gravedad_m2_5 = [incertidumbre(l,m2_a_5_d[i]) for i in range(3)]
incer_gravedad_m3_5 = [incertidumbre(l,m3_a_5_d[i]) for i in range(3)]

incer_gravedad_m1_10 = [incertidumbre(l,m1_a_10_d[i]) for i in range(3)]
incer_gravedad_m2_10 = [incertidumbre(l,m2_a_10_d[i]) for i in range(3)]
incer_gravedad_m3_10 = [incertidumbre(l,m3_a_10_d[i]) for i in range(3)]

incer_gravedad_m1_15 = [incertidumbre(l,m1_a_15_d[i]) for i in range(3)]
incer_gravedad_m2_15 = [incertidumbre(l,m2_a_15_d[i]) for i in range(3)]
incer_gravedad_m3_15 = [incertidumbre(l,m3_a_15_d[i]) for i in range(3)]

tabla_incertidumbre = pd.DataFrame({
    'm1 5 grados': incer_gravedad_m1_5,
    'm2 5 grados': incer_gravedad_m2_5,
    'm3 5 grados': incer_gravedad_m3_5,
    'm1 10 grados': incer_gravedad_m1_10,
    'm2 10 grados': incer_gravedad_m2_10,
    'm3 10 grados': incer_gravedad_m3_10,
    'm1 15 grados': incer_gravedad_m1_15,
    'm2 15 grados': incer_gravedad_m2_15,
    'm3 15 grados': incer_gravedad_m3_15
})
tabla_incertidumbre

,m1 5 grados,m2 5 grados,m3 5 grados,m1 10 grados,m2 10 grados,m3 10 grados,m1 15 grados,m2 15 grados,m3 15 grados
0,2.697631,2.648079,2.629848,2.576271,2.558776,2.605832,2.541458,2.617798,2.541458
1,2.691362,2.654198,2.611805,2.582143,2.611805,2.648079,2.496127,2.605832,2.541458
2,2.678887,2.666500,2.617798,2.599879,2.582143,2.576271,2.518639,2.617798,2.558776

In [20]:
media_gravedad = pd.DataFrame({
    '5 grados': [np.mean(grav_m1_5),np.mean(grav_m2_5),np.mean(grav_m3_5)],
    '10 grados': [np.mean(grav_m1_10),np.mean(grav_m2_10),np.mean(grav_m3_10)],
    '15 grados': [np.mean(grav_m1_15),np.mean(grav_m2_15),np.mean(grav_m3_15)]
})
media_incertidumbre = pd.DataFrame({
    '5 grados': [np.mean(incer_gravedad_m1_5),np.mean(incer_gravedad_m2_5),np.mean(incer_gravedad_m3_5)],
    '10 grados': [np.mean(incer_gravedad_m1_10),np.mean(incer_gravedad_m2_10),np.mean(incer_gravedad_m3_10)],
    '15 grados': [np.mean(incer_gravedad_m1_15),np.mean(incer_gravedad_m2_15),np.mean(incer_gravedad_m3_15)]
})
media_gravedad, media_incertidumbre

(      5 grados    10 grados    15 grados
 0  1056.073545  1015.548253   989.097240
 1  1043.100716  1014.819173  1026.430790
 2  1028.789965  1024.958531  1000.284954,
    5 grados  10 grados  15 grados
 0  2.689293   2.586098   2.518741
 1  2.656259   2.584241   2.613810
 2  2.619817   2.610060   2.547230)

In [21]:
def error_relativo(x):
    return abs((x-980)/980)*100

error_relativo_gravedad = pd.DataFrame({
    '5 grados': [error_relativo(np.mean(grav_m1_5)),error_relativo(np.mean(grav_m2_5)),error_relativo(np.mean(grav_m3_5))],
    '10 grados': [error_relativo(np.mean(grav_m1_10)),error_relativo(np.mean(grav_m2_10)),error_relativo(np.mean(grav_m3_10))],
    '15 grados': [error_relativo(np.mean(grav_m1_15)),error_relativo(np.mean(grav_m2_15)),error_relativo(np.mean(grav_m3_15))]
})
error_relativo_gravedad

   5 grados  10 grados  15 grados
0  7.762607   3.627373   0.928290
1  6.438849   3.552977   4.737836
2  4.978568   4.587605   2.069893